@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
      @apply dark:bg-black;
    }
  }
@layer components {
    .trendcoinBack {
        @apply flex relative flex-col px-8 dark:text-white justify-center rounded-lg gap-4 h-40 dark:border dark:border-solid dark:border-zinc-500;
    }
 
}
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
@font-face {
font-family: Shabnam;
  src: url(../fonts/Shabnam-Light-FD.woff2) format('woff2'),
         url(../fonts/Shabnam-Light-FD.woff) format('woff'),
         url(../fonts/Shabnam-Light-FD.ttf) format('truetype'),
         url(../fonts/Shabnam-Light-FD.eot) format('eot'),
         url(../fonts/Shabnam-Bold-FD.woff2) format('woff2'),
         url(../fonts/Shabnam-Bold-FD.woff) format('woff'),
         url(../fonts/Shabnam-Bold-FD.ttf) format('truetype'),
         url(../fonts/Shabnam-Bold-FD.eot) format('eot'),
         url(../fonts/Shabnam-FD.woff2) format('woff2'),
         url(../fonts/Shabnam-FD.woff) format('woff'),
         url(../fonts/Shabnam-FD.ttf) format('truetype'),
         url(../fonts/Shabnam-FD.eot) format('eot'),
         url(../fonts/Shabnam-Medium-FD.woff2) format('woff2'),
         url(../fonts/Shabnam-Medium-FD.woff) format('woff'),
         url(../fonts/Shabnam-Medium-FD.ttf) format('truetype'),
         url(../fonts/Shabnam-Medium-FD.eot) format('eot'),
         url(../fonts/Shabnam-Thin-FD.woff2) format('woff2'),
         url(../fonts/Shabnam-Thin-FD.woff) format('woff'),
         url(../fonts/Shabnam-Thin-FD.ttf) format('truetype'),
         url(../fonts/Shabnam-Thin-FD.eot) format('eot');
}

* {
    font-family: Shabnam;
}

html {
    direction: rtl;
     scroll-behavior: smooth;
}


body * {
    @apply transition-colors duration-75;
}