@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .trendcoinBack {
        @apply flex relative flex-col px-8 dark:text-white justify-center rounded-lg gap-4 h-40 dark:border dark:border-solid dark:border-zinc-500;
    }
}

@font-face {
    font-family: Shabnam;
    src: url(../Fonts/Shabnam-Bold-FD.ttf) format('ttf');
    src: url(../Fonts/Shabnam-Bold.ttf) format('ttf');
    src: url(../Fonts/Shabnam-FD.ttf) format('ttf');
    src: url(../Fonts/Shabnam-Light-FD.ttf) format('ttf');
    src: url(../Fonts/Shabnam-Light.ttf) format('ttf');
    src: url(../Fonts/Shabnam.ttf) format('ttf');
}

* {
    font-family: Shabnam;
}

html {
    direction: rtl;
}